  <h1>投稿詳細</h1>
  <table class="table">
    <tbody>
      <tr>
        <td><span>
          <%= link_to @game_posts.post_title, game_posts_path(@game_posts.id) %>
        </span></td>
        <td><span>
          <%= @game_posts.post_body %>
        </span></td>

        <% if @game_posts.user == current_user %>
          <td><span><%= link_to "編集", edit_game_post_path(@game_posts.id) %></span></td>
          <td><span><%= link_to "削除", game_post_path(@game_posts.id), method: :delete, "data-confirm" => "Are you sure?" %></span></td>

        <% end %>
      </tr>
    </tbody>
  </table>