  <h1>投稿一覧（自分の）</h1>
  <table class="table">
    <tbody>
      <tr>
        <td><span><%= link_to @game_posts_image.post_title, game_posts_path(@game_posts_image.id) %></span></td>
        <td><span><%= @game_posts_image.post_body %></span></td>

        <% if @game_posts_image.user == current_user %>
          <td><span><%= link_to "Edit", edit_user_path(@game_posts_image.id) %></span></td>
          <td><span><%= link_to "Destroy", game_posts_path(@game_posts_image.id), method: :delete, "data-confirm" => "Are you sure?" %></span></td>
        <% end %>
      </tr>
    </tbody>
  </table>