<h1>検索結果</h1>



<% if @results.present? %>
  <ul>
    <% @results.each do |result| %>
      <li>
        <% if params[:search_type] == "users" %>
          <%= link_to result.name, user_path(result) %>
        <% elsif params[:search_type] == "posts" %>
          <%= link_to result.post_title, game_post_path(result) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>検索結果はありません</p>
<% end %>