<h4>ユーザー一覧</h4>
<div class="container my-5">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-12 mb-4">
        <div class="card" style="cursor: pointer;" onclick="location.href='<%= user_path(user) %>'">
          <div class="card-body d-flex">
            <div class="mr-3">
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image, class: 'img-fluid rounded', style: "width: 100px; height: 100px;" %>
              <% else %>
                <div class="card-img-top bg-secondary" style="height: 100px; width: 100px; display: flex; align-items: center; justify-content: center;">
                  <span class="text-white">No Image</span>
                </div>
              <% end %>
            </div>
            <div>
              <h5 class="card-title"><%= user.name %></h5>
              <p class="card-text"><%= user.introduction %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>