<div class="container my-5 col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto">
  <h1>ユーザー詳細</h1>
  <h2>Users</h2>

  <table class="table">
    <thead>
      <th>name</th>
      <th></th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><span><%= user.name %></span></td>
          <td><span><%= link_to "Show", user_path(user.id) %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
