<div class="container my-5 col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto">

  <h1 class="text-center">ボドゲ交流日記について</h1>
    <p>
      ボドゲ交流日記は、ボードゲーム好きが集まり、感想を共有したり遊ぶ予定を管理したりできるアプリです。<br>
      過去遊んだ記録を見返して勝利の余韻を思い出したり、悔しい気持ちに火をつけることができます。<br>

      また、ほかの人が遊んでいるボードゲームを見て遊んでみたいボドゲを見つけるのに役立てていただければ幸いです。<br>
      誰もが気持ちよく利用できるよう、ひどい言葉を使った投稿や攻撃的なコメントはご遠慮ください。<br>
      
    </p>

</div>